<div class="columns">
  <div class="column is-8">
    <h2 class="subtitle is-4">Commodo culpa Lorem reprehenderit fugiat velit esse aute.</h2>
    <p>
      Consectetur excepteur et voluptate id mollit mollit eu sint. Ullamco excepteur in voluptate anim ad sunt id culpa
      voluptate
      pariatur mollit enim excepteur sint. Velit non ut veniam magna laboris consequat nostrud labore. Aliquip sit
      tempor
      rephenderit elit officia magna laborum minim deserunt esse fugiat. Enim commodo aliqua nisi commodo quis nulla
      Lorem.
      Ipsum enim qui est voluptate aute tempor irure rephenderit proident ipsum voluptate ipsum veniam commodo. Labore
      nisi
      laboris anim amet irure consectetur. Dolore consectetur aute amet aliqua eiusmod. Excepteur voluptate id sint aute
      eiusmod dolor nulla duis nostrud ea culpa ad pariatur. Labore cillum do qui excepteur aliquip enim adipisicing.
      Proident
      tempor nostrud mollit nisi eiusmod qui Lorem deserunt nulla sit.
    </p>
    <p>
      <span class="is-size-7">Minimum Bid</span>
      <br> &#8377; 900
    </p>
    <p>
      <span class="is-size-7">Category</span>
      <br> Fitness &amp; Grooming
    </p>
    <p>
      <span class="is-size-7">Offered By</span>
      <br> XT India
    </p>
  </div>
  <div class="column is-4">
    <div class="box z-depth-2">
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Current Heighest Bid</p>
            <p class="title is-size-2">1,799</p>
          </div>
        </div>
      </div>
      <form action="">
        <label class="has-text-centered is-size-7" for="minimum-bid">Enter your bid (Multiples of 100)</label>
        <div class="field has-addons has-addons-centered">
          <div class="control">
            <a href="" class="button is-large is-static">&#8377;</a>
          </div>
          <div class="control">
            <input id="minimum-bid" type="number" class="input is-large has-text-centered">
          </div>
        </div>
        <br>
        <div class="field has-text-centered">
          <button class="button is-danger is-medium">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</div>
