@import "../../../assets/sass/app-variables.scss";
@import "../../../assets/sass/bulma-variables.scss";

:host {
  display: block;
  padding: $size-7;
}

.is-subtitle {
  border-bottom: 1px solid $app-light-grey;
}
