<aside [ngClass]="{'is-active': menuOpen}">
  <div class="sidebar-container">
    <div class="sidebar-logo has-text-centered">
      <img tabindex="0" src="http://www.placehold.it/100x100" alt="" class="z-depth-3">
    </div>
    <div class="menu sidebar-menu sidebar-flex">
      <p class="menu-label">
        Categories
      </p>
      <ul class="menu-list is-size-7">
        <li><a tabindex="0">F&amp;B</a></li>
        <li><a tabindex="0">Fitness &amp; Grooming</a></li>
        <li><a tabindex="0">Miscellaneous</a></li>
        <li><a tabindex="0">Office Chores</a></li>
        <li><a tabindex="0">Learning</a></li>
        <li><a tabindex="0">Travel</a></li>
        <li><a tabindex="0">Entertainment</a></li>
        <li><a tabindex="0">Photography</a></li>
        <li><a tabindex="0">Art &amp; Craft</a></li>
        <li><a tabindex="0">Music</a></li>
      </ul>
    </div>
    <div class="sidebar-footer">
      <ul class="menu-list is-size-7">
        <li><a tabindex="0">FAQ's</a></li>
        <li><a tabindex="0" class="is-borderless">Feedback</a></li>
      </ul>
    </div>
  </div>
  <div class="menu-toggle-wrapper" [ngClass]="{'z-depth-2': !menuOpen}" (click)="toggleMenu()">
    <button class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</aside>
<div class="shadow" [ngClass]="{'is-active': menuOpen}" (click)="closeMenu()"></div>
