@import "../../../assets/sass/app-variables.scss";
@import "../../../assets/sass/bulma-variables.scss";

:host {
  display: block;
  min-width: 200px;
  height: 100%;
}

aside {
  display: block;
  position: fixed;
  top: 0;
  left: -200px;
  background: $app-grey;
  width: 200px;
  height: 100vh;
  z-index: 9999;
  transition: all 0.3s 0s ease-in-out;

  &.is-active {
    left: 0;
  }

  @media screen and (min-width: $tablet) {
    left: 0;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  overflow: auto;

  .sidebar-flex {
    flex: 1;
    flex-shrink: 1;
  }

  .sidebar-logo,
  .sidebar-menu {
    margin-bottom: 1.5rem;
  }
}

.menu-list {
  li a {
    border-bottom: 1px solid $app-light-grey;
    &.is-borderless {
      border: none;
    }
  }
}

.menu-toggle-wrapper {
  position: absolute;
  top: 5px;
  left: 100%;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-toggle {
  cursor: pointer;
  display: block;
  height: 3rem;
  position: relative;
  width: 3rem;
  margin-left: auto;
  background: $app-grey;
  border: none;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;

  &:focus, &:active {
    outline: none;
  }

  span {
    background-color: $app-white;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition-duration: 86ms;
    transition-duration: 86ms;
    -webkit-transition-property: background-color, opacity, -webkit-transform;
    transition-property: background-color, opacity, -webkit-transform;
    transition-property: background-color, opacity, transform;
    transition-property: background-color, opacity, transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    width: 16px;

    &:nth-child(1) {
      top: calc(50% - 6px);

      .is-active & {
        -webkit-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
      }
    }
    &:nth-child(2) {
      top: calc(50% - 1px);

      .is-active & {
        opacity: 0;
      }
    }
    &:nth-child(3) {
      top: calc(50% + 4px);

      .is-active & {
        -webkit-transform: translateY(-5px) rotate(-45deg);
        transform: translateY(-5px) rotate(-45deg);
      }
    }
  }
}

.shadow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s 0s ease-in-out;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
