@import "../../../assets/sass/app-variables.scss";

:host{
  display: block;
  min-width: 200px;
  height: 100%;
}
aside {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: $app-grey;
  width: 200px;
  height: 100vh;
  z-index: 9999;
}
.sidebar-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  overflow: auto;

  .sidebar-flex{
    flex: 1;
    flex-shrink: 1;
  }

  .sidebar-logo,
  .sidebar-menu{
    margin-bottom: 1.5rem;
  }
}

.menu-list{
  li a {
    border-bottom: 1px solid $app-light-grey;
    &.is-borderless{
      border: none;
    }
  }
}
