<aside>
  <div class="sidebar-container">
    <div class="sidebar-logo has-text-centered">
      <img src="http://www.placehold.it/100x100" alt="">
    </div>
    <div class="menu sidebar-menu sidebar-flex">
      <p class="menu-label">
          Categories
        </p>
        <ul class="menu-list is-size-7">
          <li><a>F&amp;B</a></li>
          <li><a>Fitness &amp; Grooming</a></li>
          <li><a>Miscellaneous</a></li>
          <li><a>Office Chores</a></li>
          <li><a>Learning</a></li>
          <li><a>Travel</a></li>
          <li><a>Entertainment</a></li>
          <li><a>Photography</a></li>
          <li><a>Art &amp; Craft</a></li>
          <li><a>Music</a></li>
        </ul>
    </div>
    <div class="sidebar-footer">
        <ul class="menu-list is-size-7">
            <li><a>FAQ's</a></li>
            <li><a class="is-borderless">Feedback</a></li>
          </ul>
    </div>
  </div>
</aside>
