/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/app-variables.scss";
@import "./assets/sass/bulma-variables.scss";
@import "./assets/sass/bulma-custom.scss";
@import "./assets/sass/app-shadows.scss";


.is-subtitle{
  .column.is-narrow{
    padding-right: 0;
    .button{
      display: block;
      width: 100%;
      @media screen and (min-width: $tablet) {
         display: inline-block;
         width: auto;
      }
    }
  }
}
