@import "./app-variables.scss";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// All overrides go here
// http://bulma.io/documentation/overview/variables/

$red: $app-red;
$danger: $red;

$link: $app-blue;

$menu-item-color: $app-light-grey;
$menu-label-color: $app-light-grey;
$menu-item-radius: 0;
